p.a {
    font: 15px Arial, sans-serif;
}

p.b {
    font: italic small-caps bold 12px/30px Georgia, serif;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.dotted {border-style: dotted;}
img.fl{
    float: right;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid Red;
    padding: 20px;
    width: 200px;
    height: 150px;
}